body{
    background-color:rgb(4, 35, 44);
    background-position: 100vh;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:100vh;
    font-size:32px;
    line-height: 10px;
    color:white;
}
nav{
font-size:18px;
position:-webkit-sticky;
position:sticky;
top:0;
}
nav ul li{
    display:inline-block;
    list-style: none;
    padding-right:25px;
}
nav ul a{
    text-decoration: none;
    color:white;
}
nav ul a:hover{
    color:rgb(224, 114, 41)
}
#about-section{
    background-color: whitesmoke;
    padding:20px 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.aboutme{
   
    margin-right: 200px;
    line-height:28px;
}
.aboutme img{
    float: left;
    width:30%;
    border-radius:5px;
    margin-right:25px;
}
