header{
    background-image:url(background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:100vh;
    width:100%;
    color:white;
    font-size: 38px;
}
#head{
    margin-left:40px;
}
h1,h2,h3,h4{
    font-family:cursive;
}
#overlay{
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    height:100vh;

}
nav{
    background-color: black;
    font-size:18px;
    position:fixed;
    top:0;
    width:100%;
    text-align: right;
    z-index:2;
}
li{
    list-style: none;
}
nav ul li{
    display:inline-block;
    padding-right:60px;
}
nav ul a{
    text-decoration: none;
    color:white;
}
#about-section{
    background-color:rgba(240,240,240,0.9);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.aboutme{
    line-height:28px;
    margin:100px 200px 0 100px;
    
}
.aboutme img{
    float: left;
    width:30%;
    border-radius:5px;
    margin-right:25px;
}
progress{
    background-color:darkblue;
    width: 40%;
    height:30px;
}
#projects{
    padding:50px 100px 100px 100px;
}
#projects-div{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-tile{
    width:45%;
    box-shadow:2px 2px 5px rgb(4, 35, 44);
    margin:1%;
    padding:1%;
}
.project-picture img{
    width:100%;
}
.project-picture a{
    text-decoration: none;
    color:rgb(4, 35, 44);
}
a:hover{
    color:rgb(224, 114, 41);
}
footer{
    background-color: black;
    color:white;
    padding:10px;
    text-align:center;
}
#socialapps img{
    width:40px;
    margin:10px 30px;
}
#socialapps img:hover{
    background-color:rgba(100,100,100,0.8);
    border-radius: 5px;
}
@media only screen and (max-width:800px){
    nav{
        text-align:left;
    }
    nav ul li{
        padding-right:25px;
    }
    #projects{
        padding:30px 10px;
    }
    .project-tile{
        width:100%;
    }
   .aboutme{
       margin:30px 20px;
   }

}